version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: tcc-pedido-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: tcc_pedido
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:

