apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - secrets.yaml
  - hpa.yaml

images:
  - name: felixgilioli/pedido-service
    newTag: latest
